In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("bowlersLabel.csv")
df.head()

,Player Name,Span,Mat,Inns,Overs,Mdns,Runs,Wkts,BBI,Ave,Econ,SR,4WH,5WH,Team name,Nation,status
0,Wahab Riaz,2016-2021,67,66,249.5,2,1844,94,17-Apr,19.61,7.38,15.9,1,0,(Peshawar Zalmi),Pakistan,key_bowler
1,Hasan Ali,2016-2021,55,54,205.0,1,1504,72,15-Apr,20.88,7.33,17.0,3,0,(Peshawar Zalmi),Pakistan,key_bowler
2,Faheem Ashraf,2018-2021,39,39,132.5,1,1042,55,19-Jun,18.94,7.84,14.4,1,1,(Islamabad United),Pakistan,key_bowler
3,Mohammad Nawaz,2016-2021,61,61,201.4,1,1447,55,13-Apr,26.30,7.17,22.0,1,0,(Quetta Gladiators),Pakistan,good_bowler
4,Mohammad Amir,2016-2021,59,58,216.2,6,1598,54,25-Apr,29.59,7.38,24.0,2,0,(Karachi Kings),Pakistan,good_bowler

In [2]:
ndf = df.drop(['Player Name','Span','Mat','Inns','Overs','Mdns','Runs','Wkts','BBI','4WH','5WH','Team name','Nation'],axis=1)
ndf

      Ave  Econ    SR            status
0   19.61  7.38  15.9        key_bowler
1   20.88  7.33  17.0        key_bowler
2   18.94  7.84  14.4        key_bowler
3   26.30  7.17  22.0       good_bowler
4   29.59  7.38  24.0       good_bowler
5   27.30  7.66  21.3       good_bowler
6   21.20  7.65  16.6        key_bowler
7   29.73  7.40  24.0       good_bowler
8   25.61  6.97  22.0       good_bowler
9   29.88  6.94  25.8       good_bowler
10  20.83  6.88  18.1        key_bowler
11  26.95  8.98  18.0  expensive_bowler
12  30.43  8.60  21.2  expensive_bowler
13  17.48  7.18  14.5        key_bowler
14  21.94  8.50  15.4        key_bowler
15  30.16  8.19  22.0  expensive_bowler
16  34.58  7.05  29.4       good_bowler
17  23.52  7.81  18.0        key_bowler
18  24.05  7.43  19.4        key_bowler
19  29.38  8.99  19.6  expensive_bowler
20  23.00  7.49  18.4        key_bowler
21  21.85  7.79  16.8        key_bowler
22  26.61  7.27  21.9       good_bowler
23  30.00  8.47  21.2  expensive_bowler
24  21.44  8.71  14.7        key_bowler
25  24.40  7.92  18.4        key_bowler
26  26.60  8.27  19.3  expensive_bowler
27  38.82  8.74  26.6  expensive_bowler
28  26.77  9.34  17.1  expensive_bowler
29  23.00  8.72  15.8        key_bowler
30  23.28  7.68  18.1        key_bowler
31  26.38  8.39  18.8  expensive_bowler
32  30.00  7.42  24.2       good_bowler
33  17.00  8.42  12.1        key_bowler
34  20.55  6.22  19.8       good_bowler
35  20.89  7.78  16.1        key_bowler
36  27.21  9.12  17.8  expensive_bowler
37  31.10  8.69  21.4  expensive_bowler
38  20.44  8.49  14.4        key_bowler
39  30.94  8.46  21.9  expensive_bowler
40  27.41  8.73  18.8  expensive_bowler
41  31.82  9.77  19.5  expensive_bowler
42  32.12  7.27  26.5       good_bowler
43  33.56  8.50  23.6  expensive_bowler
44  12.40  8.39   8.8        key_bowler
45  16.60  7.32  13.6        key_bowler
46  21.53  8.04  16.0        key_bowler
47  26.20  8.73  18.0  expensive_bowler
48  33.26  6.93  28.8       good_bowler
49  19.92  8.08  14.7        key_bowler

In [3]:
from sklearn.preprocessing import LabelEncoder
le_status = LabelEncoder()
ndf['status_n'] = le_status.fit_transform(ndf['status'])
ndf

      Ave  Econ    SR            status  status_n
0   19.61  7.38  15.9        key_bowler         2
1   20.88  7.33  17.0        key_bowler         2
2   18.94  7.84  14.4        key_bowler         2
3   26.30  7.17  22.0       good_bowler         1
4   29.59  7.38  24.0       good_bowler         1
5   27.30  7.66  21.3       good_bowler         1
6   21.20  7.65  16.6        key_bowler         2
7   29.73  7.40  24.0       good_bowler         1
8   25.61  6.97  22.0       good_bowler         1
9   29.88  6.94  25.8       good_bowler         1
10  20.83  6.88  18.1        key_bowler         2
11  26.95  8.98  18.0  expensive_bowler         0
12  30.43  8.60  21.2  expensive_bowler         0
13  17.48  7.18  14.5        key_bowler         2
14  21.94  8.50  15.4        key_bowler         2
15  30.16  8.19  22.0  expensive_bowler         0
16  34.58  7.05  29.4       good_bowler         1
17  23.52  7.81  18.0        key_bowler         2
18  24.05  7.43  19.4        key_bowler         2
19  29.38  8.99  19.6  expensive_bowler         0
20  23.00  7.49  18.4        key_bowler         2
21  21.85  7.79  16.8        key_bowler         2
22  26.61  7.27  21.9       good_bowler         1
23  30.00  8.47  21.2  expensive_bowler         0
24  21.44  8.71  14.7        key_bowler         2
25  24.40  7.92  18.4        key_bowler         2
26  26.60  8.27  19.3  expensive_bowler         0
27  38.82  8.74  26.6  expensive_bowler         0
28  26.77  9.34  17.1  expensive_bowler         0
29  23.00  8.72  15.8        key_bowler         2
30  23.28  7.68  18.1        key_bowler         2
31  26.38  8.39  18.8  expensive_bowler         0
32  30.00  7.42  24.2       good_bowler         1
33  17.00  8.42  12.1        key_bowler         2
34  20.55  6.22  19.8       good_bowler         1
35  20.89  7.78  16.1        key_bowler         2
36  27.21  9.12  17.8  expensive_bowler         0
37  31.10  8.69  21.4  expensive_bowler         0
38  20.44  8.49  14.4        key_bowler         2
39  30.94  8.46  21.9  expensive_bowler         0
40  27.41  8.73  18.8  expensive_bowler         0
41  31.82  9.77  19.5  expensive_bowler         0
42  32.12  7.27  26.5       good_bowler         1
43  33.56  8.50  23.6  expensive_bowler         0
44  12.40  8.39   8.8        key_bowler         2
45  16.60  7.32  13.6        key_bowler         2
46  21.53  8.04  16.0        key_bowler         2
47  26.20  8.73  18.0  expensive_bowler         0
48  33.26  6.93  28.8       good_bowler         1
49  19.92  8.08  14.7        key_bowler         2

# expensive_bowler => 0, good_bowler=> 1, key_bowler => 2

In [4]:
ndf2 = ndf.drop("status",axis=1)
ndf2.head()

     Ave  Econ    SR  status_n
0  19.61  7.38  15.9         2
1  20.88  7.33  17.0         2
2  18.94  7.84  14.4         2
3  26.30  7.17  22.0         1
4  29.59  7.38  24.0         1

In [5]:
X = ndf2[['Ave','Econ','SR']]
y = ndf2[['status_n']]

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [7]:
from sklearn import tree
model = tree.DecisionTreeClassifier()
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [8]:
model.predict(X_test)

array([0, 0, 0, 1, 2, 2, 2, 2, 0, 0])

In [9]:
y_test

    status_n
36         0
47         0
28         0
9          1
13         2
0          2
44         2
46         2
39         0
23         0

In [10]:
X_test

      Ave  Econ    SR
36  27.21  9.12  17.8
47  26.20  8.73  18.0
28  26.77  9.34  17.1
9   29.88  6.94  25.8
13  17.48  7.18  14.5
0   19.61  7.38  15.9
44  12.40  8.39   8.8
46  21.53  8.04  16.0
39  30.94  8.46  21.9
23  30.00  8.47  21.2

In [11]:
print("Percentage of model's accuracy is: ",model.score(X_test,y_test)*100,"%")

Percentage of model's accuracy is:  100.0 %

# expensive_bowler => 0, good_bowler=> 1, key_bowler => 2

In [13]:
import tkinter as tk
from tkinter import *

screen = Tk()

def pred():
    ave = average.get()
    ec = economy.get()
    st = strikeRate.get()
    cat = model.predict([[ave,ec,st]])
    if cat == 0:
        catt = "expensive_bowler"
        output.config(text="Category is: "+catt,font=("calibri",12))
    elif cat == 1:
        catt = "good_bowler"
        output.config(text="Category is: "+catt,font=("calibri",12))
    else:
        catt = "key_bowler"
        output.config(text="Category is: "+catt,font=("calibri",12))
        
def delt():
    if average.get()=="" and economy.get() == "" and strikeRate.get() == "":
        msg.showerror("Error","Empty Field")
    else:
        average.set("")
        economy.set("")
        strikeRate.set("")
    
screen.geometry("600x600")
screen.title("Bowler's Class")
header = Label(text="FIND BOWLER'S CLASS BY FILLING REQUIRED FIELDS",font=("calibri",20),bg="#ffad00",fg="black",width="100",
              height="3")
header.pack()

ave = Label(text="Average: ",font=("calibri",15),bg="black",fg="#ffad00")
ave.place(x=10,y=150)
eco = Label(text="Economy: ",font=("calibri",15),bg="black",fg="#ffad00")
eco.place(x=10,y=250)
sr = Label(text="Strike Rate: ",font=("calibri",15),bg="black",fg="#ffad00")
sr.place(x=10,y=350)

average = DoubleVar()
economy = DoubleVar()
strikeRate = DoubleVar()

ave_entry = Entry(textvariable = average, width="70",bg="#ffad00",fg="black")
eco_entry = Entry(textvariable = economy, width="70",bg="#ffad00",fg="black")
sr_entry = Entry(textvariable = strikeRate, width="70",bg="#ffad00",fg="black")

ave_entry.place(x=10,y=190)
eco_entry.place(x=10,y=290)
sr_entry.place(x=10,y=390)

find = Button(text="Click to Predict for Category", width="25",height=2,bg="black",fg="#ffad00",font=("calibri",12),
             command = pred)
find.place(x = 45, y = 450)
delete = Button(text="Clear all fields", width="25",height=2,bg="black",fg="#ffad00",font=("calibri",12),
             command = delt)
delete.place(x = 290, y = 450)
output = Label(fg="black",bg="#ffad00",width="100",height=3)
output.place(x=0,y=550)
screen.mainloop()