In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("batsmenLabel.csv")
df.head()

,Player Name,Span,Mat,Inns,NO,Runs,Highest Score,Ave,Balls Faced,Strike Rate,100s,50s,0s,4s,6s,Team name,Nation,status
0,Babar Azam,2016-2021,58,56,8,2070,90*,43.12,1703,121.55,0,21,6,219,35,(Karachi Kings),Pakistan,good_performer
1,Kamran Akmal,2016-2021,69,68,2,1820,107*,27.57,1330,136.84,3,11,8,197,84,(Peshawar Zalmi),Pakistan,good_performer
2,Shoaib Malik,2016-2021,61,57,11,1481,73,32.19,1156,128.11,0,9,4,103,58,(Peshawar Zalmi),Pakistan,good_performer
3,SR Watson,2016-2020,46,46,4,1361,91*,32.40,982,138.59,0,9,2,123,81,(Quetta Gladiators),Australia,good_performer
4,Fakhar Zaman,2017-2021,50,50,1,1351,94,27.57,1012,133.49,0,9,3,137,53,(Lahore Qalandars),Pakistan,good_performer

In [2]:
ndf = df.drop(['Player Name','Span','Mat','NO','Runs','Highest Score','Balls Faced','100s','50s','0s','4s','6s',
              'Team name','Nation'],axis=1)
ndf

    Inns    Ave  Strike Rate             status
0     56  43.12       121.55     good_performer
1     68  27.57       136.84     good_performer
2     57  32.19       128.11     good_performer
3     46  32.40       138.59     good_performer
4     50  27.57       133.49     good_performer
5     55  27.08       121.23     good_performer
6     53  31.28       128.26     good_performer
7     49  30.78       134.63     good_performer
8     43  26.26       120.06     good_performer
9     31  36.42       166.12       power_hitter
10    36  32.14       122.28  average_performer
11    46  25.85       164.29       power_hitter
12    38  24.25       126.88     good_performer
13    34  26.68       144.74       power_hitter
14    30  33.32       137.91       power_hitter
15    34  30.77       131.90  average_performer
16    35  30.33       146.77       power_hitter
17    36  28.70       117.78  average_performer
18    40  24.96       123.24     good_performer
19    25  33.38       114.72  average_performer
20    39  25.59       146.39       power_hitter
21    25  27.95       137.78       power_hitter
22    30  32.50       166.24       power_hitter
23    23  31.40       152.05       power_hitter
24    32  22.92       117.90  average_performer
25    23  27.86       126.39  average_performer
26    25  26.56       139.17       power_hitter
27    20  37.81       113.08  average_performer
28    21  28.76       134.52  average_performer
29    26  27.95       146.38       power_hitter
30    22  24.63       124.31  average_performer
31    45  18.03       124.36     good_performer
32    45  17.45       108.63     good_performer
33    17  33.75       143.61       power_hitter
34    41  15.20       127.88     good_performer
35    20  29.88       118.69  average_performer
36    22  31.68       111.92  average_performer
37    37  16.03       153.46       power_hitter
38    15  35.30       128.93  average_performer
39    25  21.47       139.62       power_hitter
40    32  19.56       115.97  average_performer
41    18  28.60       134.90  average_performer
42    19  23.82       148.35       power_hitter
43    22  30.76       132.45  average_performer
44    21  28.35       121.40  average_performer
45    16  23.12       136.53  average_performer
46    29  19.31       137.96       power_hitter
47    19  22.68       125.60  average_performer
48    13  29.50       123.34  average_performer
49    20  17.68       129.23  average_performer

In [3]:
from sklearn.preprocessing import LabelEncoder
le_status = LabelEncoder()
ndf['status_n'] = le_status.fit_transform(ndf['status'])
ndf

    Inns    Ave  Strike Rate             status  status_n
0     56  43.12       121.55     good_performer         1
1     68  27.57       136.84     good_performer         1
2     57  32.19       128.11     good_performer         1
3     46  32.40       138.59     good_performer         1
4     50  27.57       133.49     good_performer         1
5     55  27.08       121.23     good_performer         1
6     53  31.28       128.26     good_performer         1
7     49  30.78       134.63     good_performer         1
8     43  26.26       120.06     good_performer         1
9     31  36.42       166.12       power_hitter         2
10    36  32.14       122.28  average_performer         0
11    46  25.85       164.29       power_hitter         2
12    38  24.25       126.88     good_performer         1
13    34  26.68       144.74       power_hitter         2
14    30  33.32       137.91       power_hitter         2
15    34  30.77       131.90  average_performer         0
16    35  30.33       146.77       power_hitter         2
17    36  28.70       117.78  average_performer         0
18    40  24.96       123.24     good_performer         1
19    25  33.38       114.72  average_performer         0
20    39  25.59       146.39       power_hitter         2
21    25  27.95       137.78       power_hitter         2
22    30  32.50       166.24       power_hitter         2
23    23  31.40       152.05       power_hitter         2
24    32  22.92       117.90  average_performer         0
25    23  27.86       126.39  average_performer         0
26    25  26.56       139.17       power_hitter         2
27    20  37.81       113.08  average_performer         0
28    21  28.76       134.52  average_performer         0
29    26  27.95       146.38       power_hitter         2
30    22  24.63       124.31  average_performer         0
31    45  18.03       124.36     good_performer         1
32    45  17.45       108.63     good_performer         1
33    17  33.75       143.61       power_hitter         2
34    41  15.20       127.88     good_performer         1
35    20  29.88       118.69  average_performer         0
36    22  31.68       111.92  average_performer         0
37    37  16.03       153.46       power_hitter         2
38    15  35.30       128.93  average_performer         0
39    25  21.47       139.62       power_hitter         2
40    32  19.56       115.97  average_performer         0
41    18  28.60       134.90  average_performer         0
42    19  23.82       148.35       power_hitter         2
43    22  30.76       132.45  average_performer         0
44    21  28.35       121.40  average_performer         0
45    16  23.12       136.53  average_performer         0
46    29  19.31       137.96       power_hitter         2
47    19  22.68       125.60  average_performer         0
48    13  29.50       123.34  average_performer         0
49    20  17.68       129.23  average_performer         0

# power_hitter => 2 , good_performer => 1,  average_performer => 0

In [4]:
ndf2 = ndf.drop("status",axis=1)
ndf2.head()

   Inns    Ave  Strike Rate  status_n
0    56  43.12       121.55         1
1    68  27.57       136.84         1
2    57  32.19       128.11         1
3    46  32.40       138.59         1
4    50  27.57       133.49         1

In [5]:
X = ndf2[['Inns','Ave','Strike Rate']]
y = ndf2[['status_n']]

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [7]:
from sklearn import tree
model = tree.DecisionTreeClassifier()
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [8]:
model.predict(X_test)

array([0, 0, 0, 2, 2, 1, 0, 2, 2, 2])

In [9]:
y_test

    status_n
36         0
47         0
28         0
9          2
13         2
0          1
44         0
46         2
39         2
23         2

In [10]:
X_test

    Inns    Ave  Strike Rate
36    22  31.68       111.92
47    19  22.68       125.60
28    21  28.76       134.52
9     31  36.42       166.12
13    34  26.68       144.74
0     56  43.12       121.55
44    21  28.35       121.40
46    29  19.31       137.96
39    25  21.47       139.62
23    23  31.40       152.05

In [11]:
print("Percentage of model's accuracy is: ",model.score(X_test,y_test)*100,"%")

Percentage of model's accuracy is:  100.0 %

# power_hitter => 2 , good_performer => 1, average_performer => 0

In [ ]:
import tkinter as tk
from tkinter import *

screen = Tk()

def pred():
    inns = innings.get()
    av = average.get()
    st = strikeRate.get()
    cat = model.predict([[inns,av,st]])
    if cat == 0:
        catt = "average_performer"
        output.config(text="Category is: "+catt,font=("calibri",12))
    elif cat == 1:
        catt = "good_performer"
        output.config(text="Category is: "+catt,font=("calibri",12))
    else:
        catt = "power_hitter"
        output.config(text="Category is: "+catt,font=("calibri",12))
        
def delt():
    if innings.get()=="" and average.get() == "" and strikeRate.get() == "":
        msg.showerror("Error","Empty Field")
    else:
        innings.set("")
        average.set("")
        strikeRate.set("")        
screen.geometry("600x700")
screen.title("Player's Class")
header = Label(text="FIND PLAYER'S CLASS BY FILLING REQUIRED FIELDS",font=("calibri",20),bg="#ffad00",fg="black",width="100",
              height="3")
header.pack()

inn = Label(text="Number of innings: ",font=("calibri",15),bg="black",fg="#ffad00")
inn.place(x=10,y=150)
ave = Label(text="Average: ",font=("calibri",15),bg="black",fg="#ffad00")
ave.place(x=10,y=250)
sr = Label(text="Strike Rate: ",font=("calibri",15),bg="black",fg="#ffad00")
sr.place(x=10,y=350)

innings = IntVar()
average = DoubleVar()
strikeRate = DoubleVar()

inn_entry = Entry(textvariable = innings, width="70",bg="#ffad00",fg="black")
ave_entry = Entry(textvariable = average, width="70",bg="#ffad00",fg="black")
sr_entry = Entry(textvariable = strikeRate, width="70",bg="#ffad00",fg="black")

inn_entry.place(x=10,y=190)
ave_entry.place(x=10,y=290)
sr_entry.place(x=10,y=390)

find = Button(text="Click to Predict for Category", width="25",height=2,bg="black",fg="#ffad00",font=("calibri",12),
             command = pred)
find.place(x = 90, y = 450)
delete = Button(text="Clear all fields", width="25",height=2,bg="black",fg="#ffad00",font=("calibri",12),
             command = delt)
delete.place(x = 290, y = 450)
output = Label(fg="black",bg="#ffad00",width="100",height=3)
output.place(x=0,y=550)
screen.mainloop()

Exception in Tkinter callback
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\tkinter\__init__.py", line 545, in get
    return self._tk.getint(value)
_tkinter.TclError: expected integer but got ""

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\tkinter\__init__.py", line 1892, in __call__
    return self.func(*args)
  File "<ipython-input-12-e357399cc8ac>", line 22, in delt
    if innings.get()=="" and average.get() == "" and strikeRate.get() == "":
  File "C:\ProgramData\Anaconda3\lib\tkinter\__init__.py", line 547, in get
    return int(self._tk.getdouble(value))
_tkinter.TclError: expected floating-point number but got ""